<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../Logs/internal-nlog.txt">

  <!-- define various log targets -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="dbLogs" fileName="../../Logs/basic-api-dblog-${date:format=yyyyMMdd}.log.json"
            archiveEvery="Day"
            maxArchiveFiles= "14">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Timestamp" layout="${longdate}"/>
        <attribute name="EventId" layout="${event-properties:item=EventId.Id}"/>
        <attribute name="Logger" layout="${logger}"/>
        <attribute name="Level" layout="${uppercase:${level}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Exception" layout="${exception}"/>
      </layout>
    </target>
    <target xsi:type="File" name="apiRequestLogs" fileName="../../Logs/basic-api-requests-${date:format=yyyyMMdd}.log.json" 
            layout= "${message}"
            archiveEvery="Day"
            maxArchiveFiles= "14"/>
    <target xsi:type="File" name="applicationLogs" fileName="../../Logs/basic-application-${date:format=yyyyMMdd}.log.json"
            archiveEvery="Day"
            maxArchiveFiles= "14">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Timestamp" layout="${longdate}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Exception" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="dbLogs" />
    <logger name="RequestLogger" minlevel="Info" writeTo="apiRequestLogs" />
    <logger name="BasicApi.*" minlevel="Info" writeTo="applicationLogs"/>
  </rules>
</nlog>
